/* open block content-left */
.content-left{
	width: 250px;
	padding-left: 20px;     /*  левый контент входящие */
	font-size: 15px;
	overflow: hidden;
	z-index: 1;            /* убираем текст под кнопку Написать письмо */
}
.content-left__button{       /*  Кнопка слева- написать письмо */
	position: fixed;
	color: #333;
  	background-color: #E0E0E0;    /* цвет кнопок */
    border-color: #adadad;   
    z-index: 3;
}
.content-left__button:hover {
	color: #333;
	background-color: #fff;
	border-color: #adadad;    
}
.content-left__button:focus{
	outline: 0;
}
.content-left__nav-list{
	margin-top: 38px;    /*  место сверху под фикс.меню */  
    margin-right: 10px;
	border: 1px solid #adadad;	
    border-radius: 3px;
}

.content-left__link--bold-number{
	font-weight: bold;                 /* цифра справа в меню */
}
.content-left__link, .dropdown__link{     /* убираем поля будстрапа */
	padding: 4px 10px 4px 20px !important;
}
.content-left__link--active{
	font-weight: bold;
	background-color: #E4E4E4;        /* активный входящие */
	padding-left: 6px !important;	
}
.content-left__icon-caret{	
    font-size: 12px;
}
.content-left__link--active:focus .content-left__icon-caret{
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.dropdown__link{                   /* встроенное меню */
	padding-left: 37px !important;
}
.item__text-clean{           /* текст очистить */
	letter-spacing: -1px;
	color: #adadad;
	border-bottom: 1px dotted ; 
}
.bottom-icon__line{
	margin: 10px 8px 0 8px;            /*  линия под корзиной */
	border-top: 1px solid #adadad;
}
.bottom-icon__circle{
	display: inline-block;      /* иконка круг */
	width: 13px;
	height: 13px;
	background: #0077CC;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.bottom-icon__bookmark{    /* иконка флажек */
  color: red;
}
.bottom-icon__paperclip{  /* иконка скрепка */
  color: #adadad;
}